body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, Helvetica, serif;
}

.grad-vert-blue {
    background: #272727; /* Old browsers */
    background: -moz-linear-gradient(top, #2075bc, #154c7b); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2075bc), color-stop(100%, #154c7b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2075bc 0%, #154c7b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2075bc 0%, #154c7b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2075bc 0%, #154c7b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2075bc 0%, #154c7b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2075bc, endColorstr=#154c7b, GradientType=0); /* IE6-9 */
}

.grad-vert-gray {
    background: #272727; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee, #fefefe); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#fefefe, GradientType=0); /* IE6-9 */
}

.header {
    color: white;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #2075bc;
    box-shadow: 0 1px 2px #2075bc;
    height: 40px;
    padding: 5px;
}

.headerLeft {
    float: left;
}

.headerRight {
    float: right;
}

a.logo {
    display: block;
    height: 40px;
    margin: 2px 10px;
    color: white;
    text-decoration: none;
    width: 155px;
}

.header .tab {
    /*display: none;*/
    color: white;
    text-decoration: none;
}

.header .tab.selectedTab {
    display: block;
}

/*Index View*/
.indexView {
    width: 405px;
    margin: 25px auto 20px auto;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.indexView #viewEmployees,
.indexView #viewProjects {
    border: 2px solid #2075bc;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    color: white;
}

/*Index View Ends*/

.employeesList {
    width: 700px;
    margin: 20px auto;
    border: 1px solid #cccccc;
}

.employeesList .row {
    overflow: hidden;
    clear: left;
    font-size: 13px;
}

.row {
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.row:last-child {
    border-bottom: none;
}

.row:hover {
    background-color: #efefef;
}

.col {
    float: left;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-right: 1px solid #cccccc;
    padding: 2px 4px;
}

.col:last-child {
    border-right: none;
}

.col-4 {
    width: 25%;
}

#tableHeader {
    font-weight: bold;
}

.table-header .col-4 {
    text-align: center;
    text-shadow: 0 0 0 #cccccc;
    height: 35px;
    line-height: 35px;
}

.projectsList {
    width: 500px;
    margin: 20px auto;
}

.projectsList .projectBox {
    float: left;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 22px;
    border: 2px solid #2075bc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

#project {
    width: 500px;
    margin: 25px auto;
    border: 1px solid #2075bc;
    box-shadow: 1px 2px 2px #bbbbbb;
    border-radius: 10px;
}

#projectTitle, #projectInfo, #projectMemberDetails, #projectMemberLabel {
    padding: 10px 15px;
}

#projectTitle {
    border-radius: 9px 10px 0 0;
    height: 30px;
    line-height: 30px;
    color: #555555;
    font-size: 18px;
    text-shadow: 0 0 0 #333333;
    border-bottom: 1px solid #eeeeee;;
}

#projectManager, #projectStartDate {
    font-size: 14px;
    float: right;
}

#projectStartDate {
    float: left;
}

#projectMemberLabel {
    clear: both;
    padding-top: 25px;
    font-weight: bold;
}

#projectMemberDetails {
    padding-top: 0;
    font-size: 12px;
    line-height: 20px;
}

#projectDetails {
    line-height: 22px;
    padding: 11px 0;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
}